.uiModalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);

  .uiModal {
    color: #ff6f00;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    margin: 15vh auto 0 auto;
    width: auto;
    max-width: 800px;
    .close {
      float: right;
      cursor: pointer;
    }
  }
}