* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pointer {
  cursor: pointer !important;
}

.hover-orange:hover{
  color: #fe7d1a;
}

.text-orange{
  color: #fe7d1a;
}
.text-green{
  color: #5cb85c;
}
.text-red{
  color: #d9534f;
}
.bg-orange-alpha {
  background-color: rgba(254,125,26, 0.2);
}
.btn-white {
  background-color: white;
  border-radius: 4px;
  border: none;
  padding: 5px 50px;
}

.btn-white:hover {
  background-color: #eee;
}
.text-left {
  text-align: left;
}